artifacts/

.vs/
.idea/
.vscode/

src/**/bin/
src/**/obj/
src/**/Content/bin/
src/**/Content/obj/
dist/**/

TestResults/
coverage/
*.coverage
*.coveragexml

*.user
*.suo
*.cache
*.pdb
*.nupkg
*.snupkg
